language: node_js
node_js:
  - "8"
  - "10"

script:
  - npm run security-check
  - npm run tslint
  - npm test
  - npm run build && npm run test:integration

after_success:
  - npm run test:coverage:upload
