language: node_js
node_js:
  - "6"
  - "4"

script:
  - npm run eslint
  - npm test

after_success:
  - ./node_modules/istanbul/lib/cli.js cover ./node_modules/jasmine/bin/jasmine.js
  - ./node_modules/codecov/bin/codecov --token=e73b8b4f-4600-4c55-94d0-d949114eb73d
