name: CI checks
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20, 22, 23]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run security-check
      - run: npx tsc --noEmit
      - run: npm run lint
      - run: npm test
      - run: npm run build
      - uses: codecov/codecov-action@v2
